<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div id="tabs" data-tabs="<%= render(template: 'shared/tabs.json.jbuilder', locals: {tabs: $admin_administrate_tabs, active: 'Företags kostnader'} ) %>">
    </div>
    <div class="main-container" >
      <div class="headlines-box">
        <div class="company-cost-column"> Kostnad </div>
        <div class="company-cost-column"> Summa </div>
        <div class="company-cost-column"> Fördelningsperiod </div>
        <div class="company-cost-column"> Kostnadställe </div>
      </div>
      <div class="headlines-line"></div>
      <div id="company-costs" data-costs="<%= render(template: 'company_costs/index.json.jbuilder') %>"></div>
    </div>
  </div>
</div>
