<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="tabs">
      <a class="tab"  href="#">
        <h3>Företags</h3>
        <h3>Information</h3>
      </a>
      <a class="tab active"" href="#">
        <h3>Företags</h3>
        <h3>Kostnader</h3>
      </a>
      <a class="tab" href="#">
        <h3>Medarbetar</h3>
        <h3>information</h3>
      </a>
      <a class="tab" href="#">
        <h3>Projekt</h3>
      </a>
      <a class="tab" href="#">
        <h3>Normaltid</h3>
      </a>
    </div>
    <div class="main-container" >
      <div id="company-costs" data-costs="<%= render(template: 'company_costs/index.json.jbuilder') %>"></div>
    </div>
  </div>
</div>

