.main-container {
  background-color: white;
  padding: 30px 60px 60px 60px;
  border-radius: 5px;
}


.login-container {
  background-color: white;
  padding: 30px 60px 60px 60px;
  border-radius: 5px;
}
