.company-costs {
  display: flex;
  justify-content: Flex-start;
}

.company-cost {
 font-size: 20px;
 flex-basis: 25%;
 text-align: left;
 margin: 15px 0;
}

.company-cost-assignees {
 font-size: 20px;
 flex-basis: 25%;
 text-align: left;
 margin: 15px 0;
 display: flex;
 justify-content: space-between;
}

.company-cost-icon {
  flex-basis: 10px;
}

.company-cost-assignee {
  font-size: 20px;
  flex-grow: 1;
}
